// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

.form-box {
    padding: 25px 10px 10px 10px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(92,92,107,.08), 0 1px 3px 0 rgba(77,76,172,.08);
}

.form-filter {
    position: relative;
    background-color: rgba($primary-color-light, .1);
    padding-bottom: 20px;
    display: none;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: 0 -50vw 2rem -50vw;
    border-top: 1px solid $grey-light-1;
    border-bottom: 1px solid $grey-light-1;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
