/* Select Field
   ========================================================================== */

select { display: none; }
select.browser-default { display: block; }

select {
    background-color: $input-background;
    border: $input-border;
    border-radius: 4px;
    outline: none;
    height: $input-height;
    width: 100%;
    font-size: $input-font-size;
    margin: $input-margin;
    padding: $input-padding;
    box-shadow: none;
    box-sizing: border-box;
    transition: box-shadow .3s, border .3s;
}
.select-wrapper-action .select-wrapper input.select-dropdown {
    height: $button-height;
}

.select-label {
  position: absolute;
}

.select-wrapper {
    &.valid .helper-text[data-success],
    &.invalid ~ .helper-text[data-error] {
        @extend %hidden-text;
    }

    &.valid {
        & > input.select-dropdown {
            @extend %valid-input-style;
        }

        & ~ .helper-text:after {
            @extend %custom-success-message;
        }
    }

    &.invalid {
        & > input.select-dropdown,
        & > input.select-dropdown:focus {
            @extend %invalid-input-style;
        }

        & ~ .helper-text:after {
            @extend %custom-error-message;
        }
    }

    &.valid + label,
    &.invalid + label {
        width: 100%;
        pointer-events: none;
    }

    & + label:after {
        @extend %input-after-style;
    }

    position: relative;

    input.select-dropdown,
    select.select-dropdown{
        &:focus {
            border: 1px solid $primary-color;

            & + label {
                color: $primary-color;
            }
        }

        background-color: $white;
        border: $input-border;
        border-radius: 4px;
        outline: none;
        height: $input-height;
        width: 100%;
        font-size: $input-font-size;
        margin: $input-margin;
        padding: $input-padding;
        box-shadow: none;
        box-sizing: border-box;
        transition: box-shadow .3s, border .3s;
        position: relative;
        cursor: pointer;
        line-height: $input-height;
        display: block;
        user-select: none;
        z-index: 1;
    }

    .caret {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 20;
        fill: rgba(0,0,0,.87);
    }

    & + label {
        position: absolute;
        top: -38px;
        font-size: 1rem;
        font-weight: 600;
        color: $grey;
    }

    & ul {
        top: $input-height !important;
        border-radius: 0 0 4px 4px;

        & > li > span {
            font-weight: 600;
        }
    }
}

// Disabled styles
select:disabled {
  color: $input-disabled-color;
}

.select-wrapper.disabled {
  + label {
    color: $input-disabled-color;
  }
  .caret {
    fill: $input-disabled-color;
  }
}

.select-wrapper input.select-dropdown:disabled {
  color: $input-disabled-color;
  cursor: default;
  user-select: none;
}

.select-wrapper i {
  color: $select-disabled-color;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: $select-disabled-color;
  background-color: transparent;
}

body.keyboard-focused {
    .select-dropdown.dropdown-content li:focus {
        background-color: transparent;
    }
}

.select-dropdown.dropdown-content {
    li {
        &:hover {
            background-color: rgba($primary-color, .1);

            & span {
                color: $primary-color !important;
            }
        }

        &.selected {

            & span {
                color: color("commando-primary", "lighten-1") !important;
            }
        }
    }
}

// Prefix Icons
.prefix ~ .select-wrapper {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.prefix ~ label { margin-left: 3rem; }

// Icons
.select-dropdown li {
  img {
    height: $dropdown-item-height - 10;
    width: $dropdown-item-height - 10;
    margin: 5px 15px;
    float: right;
  }
}

// Optgroup styles
.select-dropdown li.optgroup {
  border-top: 1px solid $dropdown-hover-bg-color;

  &.selected > span {
    color: rgba(0, 0, 0, .7);
  }

  & > span {
    color: rgba(0, 0, 0, .4);
  }

  & ~ li.optgroup-option {
    padding-left: 1rem;
  }
}
