
@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-Regular.otf");
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-ExtraBold.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-ExtraBoldItalic.otf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-Medium.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-MediumItalic.otf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: "Primary";
    src: url("/css/fonts/TTNorms-LightItalic.otf");
    font-weight: 200;
    font-style: italic;
}