.u {
    /*margins*/
    &-m {
        &-r {
            &-xs {
                margin-right: 4px;
            }

            &-sm {
                margin-right: 8px;
            }

            &-md {
                margin-right: 16px;
            }

            &-lg {
                margin-right: 36px;
            }

            &-lg {
                margin-right: 72px;
            }
        }

        &-l {
            &-xs {
                margin-left: 4px;
            }

            &-sm {
                margin-left: 8px;
            }

            &-md {
                margin-left: 16px;
            }

            &-lg {
                margin-left: 36px;
            }

            &-lg {
                margin-left: 72px;
            }
        }

        &-t {
            &-xs {
                margin-top: 4px;
            }

            &-sm {
                margin-top: 8px;
            }

            &-md {
                margin-top: 16px;
            }

            &-lg {
                margin-top: 36px;
            }

            &-lg {
                margin-top: 72px;
            }
        }

        &-b {
            &-xs {
                margin-bottom: 4px;
            }

            &-sm {
                margin-bottom: 8px;
            }

            &-md {
                margin-bottom: 16px;
            }

            &-lg {
                margin-bottom: 24px;
            }

            &-lg {
                margin-bottom: 36px;
            }

            &-remove {
                margin-bottom: 0;
            }
        }
    }
}
