@*
    ROLE: displays a list of users as a table
*@


<table id="users-list" class="striped highlight all-left">
    <thead>
        <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Username</th>
            <th>Channel</th>
            <th>Type</th>
            <th>Access Granted</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>01/01/2020</td>
            <td>Create Promotion</td>
            <td>JuzerAbjuzer</td>
            <td>CRM</td>
            <td>API</td>
            <td><i class="material-icons">check</i></td>
        </tr>
    </tbody>
</table>
