@*
    ROLE: displays a naughty list
*@


<table id="users-list" class="striped highlight all-left">
    <thead>
        <tr>
            <th>
                Channel
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                System
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                Notify URL
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>POS</td>
            <td>CRM</td>
            <td>https://max.simobil.lan/NET4/Services/Notify.svc</td>
            <td>
                <a class='dropdown-trigger' href='!#' data-id="1" data-target='channel-actions' data-target-modal="notifyList">
                    <i class="material-icons material-icons__hover">more_horiz</i>
                </a>
            </td>
        </tr>
        <tr>
            <td>POS</td>
            <td>CRM</td>
            <td>https://max.simobil.lan/NET4/Services/Notify.svc</td>
            <td>
                <a class='dropdown-trigger' href='!#' data-id="1" data-target='channel-actions' data-target-modal="notifyList">
                    <i class="material-icons material-icons__hover">more_horiz</i>
                </a>
            </td>
        </tr>
        <tr>
            <td>POS</td>
            <td>SalesForce</td>
            <td>https://max.simobil.lan/NET4/Services/Notify.svc</td>
            <td>
                <a class='dropdown-trigger' href='!#' data-id="1" data-target='channel-actions' data-target-modal="notifyList">
                    <i class="material-icons material-icons__hover">more_horiz</i>
                </a>
            </td>
        </tr>
    </tbody>
</table>