@*
    ROLE: displays dropdown with actions for a single promotion
*@

<ul id='channel-actions' class='dropdown-content'>
    <li>
        <a class="channel-action modal-trigger" data-id="eh" data-target-modal="" data-action="edit" href="#modal-form">
            <i class="material-icons">create</i>
            @CouponDatabase.Properties.Resources.Btn_Edit
        </a>
    </li>
    <li class="disable">
        <a class="channel-action modal-trigger" data-id="he" data-target-modal="" data-action="remove" href="#modal-remove">
            <i class="material-icons">delete_forever</i>
            @CouponDatabase.Properties.Resources.Btn_Remove
        </a>
    </li>
</ul>

<script>
    
    $(document).ready(function () {
        // set actions per record id
        $(".dropdown-trigger").click(function () {
            var id = this.getAttribute("data-id");
            var target = this.getAttribute("data-target-modal");

            $(".channel-action").each(function () {
                this.setAttribute("data-id", id)
                this.setAttribute("data-target-modal", target)
            })
        })
    });
</script>