@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="modal-remove" class="modal">
    <div class="modal-content">
        <h4></h4>
        <p></p>
    </div>
    <div class="modal-footer">
        <a id="modal-close" class="waves-effect waves-light modal-close btn-flat btn-transparent u-m-r-md">
            @CouponDatabase.Properties.Resources.Btn_Cancel
        </a>
        <a id="modal-action-remove" href="#!" class="modal-close waves-effect waves-green btn-flat btn-primary">
            <i class="material-icons left">check</i>
            @CouponDatabase.Properties.Resources.Btn_Remove
        </a>
    </div>
</div>