@*
    ROLE: displays a list of users as a table
*@


<table id="users-list" class="striped highlight all-left">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Proto</td>
            <td>Proto Shriek</td>
            <td>Administrator</td>
        </tr>
        <tr>
            <td>Thunder</td>
            <td>Magno Storm</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Flamboi</td>
            <td>Flaming Monster</td>
            <td>Administrator</td>
        </tr>
        <tr>
            <td>Horror</td>
            <td>Nightmare Atlas</td>
            <td>Administrator</td>
        </tr>
        <tr>
            <td>CoM</td>
            <td>Commander of Madness</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Drm</td>
            <td>Doctor Mantis</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Bully</td>
            <td>Bullet Stryke</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Pluto</td>
            <td>Commander Plutonium</td>
            <td>Administrator</td>
        </tr>
        <tr>
            <td>Neuron</td>
            <td>Colonel Neuro</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Hexadecimal</td>
            <td>Baroness Hex</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Fear</td>
            <td>Thrun the Fearsome</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Zeljka</td>
            <td>Mistress of Terror</td>
            <td>Administrator</td>
        </tr>
    </tbody>
</table>
