@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebApp.ViewModels.UsersViewModel;

@{
    ViewBag.PageName = "AdministrationUsers";
}


<partial name="_AdministrationNavigation" />


@*
    ROLE: container for Administration Users, handles update users form
*@

<!-- heading -->
<div class="row u-p-t-xl">
    <div class="col s12 m7 u-p-l-remove">
        <h4 class="u-m-t-remove">
            @CouponDatabase.Properties.Resources.Nav_AdministrationUsers
        </h4>
    </div>
    <div class="col s12 m3 select-wrapper-action u-p-r-remove">
        <select id="select-users" class="">
            <option value="all" selected>Show Users And Admins</option>
            <option value="admin">Show Admins</option>
            <option value="user">Show Users</option>
        </select>
    </div>
    <div class="col s12 m2 u-p-r-remove">
        <a href="@Url.Action("UpdateUsers", "Administration")" class="waves-effect waves-light btn-flat btn-primary right" id="update-users">
            <i class="material-icons update-icon left">update</i>
            @CouponDatabase.Properties.Resources.Btn_Update
        </a>
    </div>
</div>
<!-- /heading -->
<!-- users table -->
<partial name="_UsersTable" model="Model.Users"/>

@if (ViewBag.Command != null)
{
    <partial name="_CommandMessage" for="Users" />
}

<script>
    $(document).ready(function () {
        $("#update-users").click(function (e) {
            if ($(".update-icon").hasClass("loading")) {
                e.preventDefault();
                return;
            }
            $(".update-icon").addClass("loading").html("autorenew");
        })
    })
</script>