@model WebApp.ViewModels.ContextData;

@{
    ViewBag.PageName = "AdministrationChannels";
}


<partial name="_AdministrationNavigation" />

<!-- heading systems-->
<div class="row u-m-t-xl u-p-t-xl">
    <div class="col s12 m6 u-p-l-remove">
        <h4 class="u-m-t-remove">
            @CouponDatabase.Properties.Resources.Administration_ChannelsSystems
        </h4>
    </div>
    <div class="col s12 m6 u-p-r-remove">
        <a class="channel-action modal-trigger btn-flat btn-primary right" data-target-modal="systems" data-action="add" href="#modal-form">
            <i class="material-icons left">add</i>
            @CouponDatabase.Properties.Resources.Btn_Add
        </a>
    </div>
</div>
<!-- /heading systems -->
<!-- systems table -->
<partial name="_ChannelsSystemsTable" />

<!-- heading notify list -->
<div class="row u-m-t-lg u-p-t-xl">
    <div class="col s12 m6 u-p-l-remove">
        <h4 class="u-m-t-remove">
            @CouponDatabase.Properties.Resources.Administration_ChannelsNotifyList
        </h4>
    </div>
    <div class="col s12 m6 u-p-r-remove">
        <a class="channel-action modal-trigger btn-flat btn-primary right" data-target-modal="notifyList" data-action="add" href="#modal-form">
            <i class="material-icons left">add</i>
            @CouponDatabase.Properties.Resources.Btn_Add
        </a>
    </div>
</div>
<!-- /heading notify list -->
<!-- notify list table -->
<partial name="_ChannelsNotifyListTable" />

<partial name="_ChannelsActions" />
<partial name="_ChannelsModal" />