
@model WebApp.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    /* Handling ... */

}
<section class="home">
    <img class="home-img" src="~/images/svg/group.svg" alt="commando welcome"/>
</section>


