<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commando</title>

    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery.min.js"></script>
    @*<script src="~/js/customServerValidation.js" asp-append-version="true"></script>*@
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/customValidation.js"></script>
</head>
<body>
    <header>
        <partial name="Navigation" />
    </header>

    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>

        <partial name="Footer" />
    </footer>


    <script src="~/js/materialize.min.js" asp-append-version="true"></script>
    <script src="~/js/datatables.js" asp-append-version="true"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>
    <script src="~/js/config.js" asp-append-version="true"></script>
    <script src="~/js/init.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
