@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!-- modal like overlay -->
<div class="error-overlay"></div>

<!-- error box -->
@if (Model.ShowRequestId)
{
    <div class="error">
        <div class="error-box">
            <div class="row error-header u-m-b-remove">
                <div class="col s6">
                    <h4 class="u-m-t-remove">@CouponDatabase.Properties.Resources.ErrorView_Heading</h4>
                </div>
                <div class="col s6">
                    <a href="@Url.Action("Index", "Home")" class="waves-effect waves-light btn-flat btn-default right"><i class="material-icons">clear</i></a>
                    <button onclick="copyToClipboard();" id="btn-copy" class="waves-effect waves-light btn-flat btn-danger right u-m-r-md"><i class="material-icons left">content_copy</i>Copy Report</button>
                </div>
            </div>
            <div class="error-content">
                <p class="u-m-b-remove">
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
                <textarea id="error-msg">@Model.RequestId</textarea>
            </div>
        </div>
    </div>
}

<script>
    // copy to clipboard and display msg
    function copyToClipboard() {
        document.getElementById("error-msg").select();
        document.execCommand('copy');
        M.toast({ html: 'Copied to clipboard', classes: "success" })
    }
</script>
