@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <img class="footer-img" src="~/images/footer-logo.png" alt="logo"/>
        </div>
    </div>
</div>