@*
    ROLE: container for Promotions list view
*@

@model WebApp.ViewModels.PromotionListViewModel;

<!-- heading -->
<div class="row">
    <div class="col s12 m6 u-p-l-remove">
        <h4 class="u-m-t-remove">
            @CouponDatabase.Properties.Resources.Promotions_Title
        </h4>
    </div>
    <div class="col s12 m6 u-p-r-remove">
        <a href="@Url.Action("CreatePromotion", "Management")" class="waves-effect waves-light btn-flat btn-primary right">
            <i class="material-icons left">add</i>
            @CouponDatabase.Properties.Resources.Btn_CreateNew
        </a>
        <button class="waves-effect waves-light btn-flat btn-default right u-m-r-md" id="btn-filter">
            <i class="material-icons left">unfold_more</i>
            @CouponDatabase.Properties.Resources.Btn_Filter
        </button>
    </div>
</div>
<!-- /heading -->

<!-- filter form for promotions search-->
<partial name="_ListFilter" model="Model.Filter" />

<!-- promotions table -->
<partial name="_ListTable" model="Model.Promotions" />

<!-- confirmation modal -->
<partial name="_ListModal" />

