@model WebApp.ViewModels.LifecycleUpdateViewModel
@{
    ViewData["Title"] = "_UpdateFilter";

    List<SelectListItem> promotionCodes = new List<SelectListItem>();
    if (Model.DropPromoCodes != null)
    {
        promotionCodes = Model.DropPromoCodes;
    }

    List<SelectListItem> couponSeries = new List<SelectListItem>();
    if (Model.DropCouponSeries != null)
    {
        couponSeries = Model.DropCouponSeries;
    }
}

<!-- Form submit on dropdown filter change -->
@using (Html.BeginForm("UpdateSearchFilter", "Lifecycle", FormMethod.Post, new { role = "form", id = "UpdateSearchFilter" }))
{
    <div class="col s2">
        @Html.DropDownListFor(p => p.SelectedPromoCode, promotionCodes, "-- option --", new { @class = "filter-coupon", onchange = "this.form.submit();" })
    </div>

    <div class="col s2">
        @Html.DropDownListFor(c => c.SelectedCouponSeries, couponSeries, "-- option --", new { @class = "filter-coupon", onchange = "this.form.submit();" })
    </div>
}