@model WebApp.ViewModels.LifecycleUpdateViewModel;

@{
    ViewData["Title"] = "_UpdateModal";
}

<!-- Modal -->
<div id="modal-confirmation" class="modal">
    <div class="modal-content">
        <h4>Change (<span id="coupon-number-modal"></span>) coupons?</h4>
        <dl class="inline">
        </dl>
    </div>
    <div class="modal-footer">
        <a id="modal-close" class="modal-close waves-effect waves-light btn-flat btn-transparent u-m-r-md">
            @CouponDatabase.Properties.Resources.Btn_Cancel
        </a>
        <button type="submit" class="waves-effect waves-light btn-flat btn-primary u-m-r-md" data-position="bottom">
            @CouponDatabase.Properties.Resources.Btn_Update
        </button>
    </div>
</div>
<!-- /Modal-->

<script>
    $(document).ready(function () {
        // get localized msg for modal command str
        var strTemplate = '@CouponDatabase.Properties.Resources.CouponsModal_SetTo';

        // update modal text
        $(".input-coupon").change(function (e) {
            var val = e.target.value;
            var property = this.getAttribute("data-modal");
            var fieldName = (property == "validto") ? "valid to" : property;
            var info = $(".info-" + property);
            var type = this.getAttribute("data-type");

            //check if it was select and get value from html
            if (type == "select") {
                var selectId = this.getAttribute("data-id");
                val = $('[data-id="' + selectId + '"] > option[value=' + val + ']').html();
            }

            if (val && info.length > 0) {
                //update
                $("dt.info-" + property).html(strTemplate.replace("{0}", fieldName));
                $("dd.info-" + fieldName).html(val);
            } else if (!val && info.length > 0) {
                //remove
                $("dt.info-" + property).remove();
                $("dd.info-" + property).remove();
            } else if (val && info.length == 0) {
                // insert
                var html =
                    '<dt class="info-' + property + '">' + strTemplate.replace("{0}", fieldName) + '</dt>' +
                    '<dd class="info-' + property + '">' + val + '</dd>';
                $(".inline").append(html)
            } 
        })

        // display number of checked items inside modal header
        $(".checkbox-coupon, #checkbox-master").change(function () {
            var num = $("input:checked.checkbox-coupon").length;
            if (num > 0) {
                $("#coupon-number-modal").text(num);
            } else {
                $("#coupon-number-modal").text('');
            }
        })
    })
</script>
