@model WebApp.ViewModels.LifecycleUpdateViewModel;

@{
    ViewData["Title"] = "_MultipleRedeemModal";
}

<!-- Modal -->
<div id="modal-multiple-redeem" class="modal">
    <div class="modal-content">
        <b>Coupon users:</b>

        <ul id="users-list">
        </ul>
    </div>
</div>
<!-- /Modal-->
