@model WebApp.ViewModels.LifecycleUpdateViewModel;

@{
    ViewData["Title"] = "_MultipleRedeemModal";
}

<!-- Modal -->
    <div id="modal-multiple-redeem" class="modal">
        <div class="modal-content">
            <b>Coupon (<span id="coupon-code"></span>) users:</b>
                <ul id="users-list">
                </ul>
        </div>
        <div class="modal-footer">
            <a id="modal-close" class="modal-close waves-effect waves-light btn-flat btn-transparent u-m-r-md">
               Close
            </a>
        </div>
    </div>
<!-- /Modal-->
